
        .row {
            display: inline-block;
            vertical-align: top;
            width: 23%;
            margin-right: 1%;
            box-sizing: border-box;
        }
        .row:last-child {
            margin-right: 0;
        }
        @media (max-width: 768px) {
            .row {
                display: block;
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
